<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html lang="en">

<head>
<meta charset="UTF-8">
<title>Simple and light sign up form</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,700'
	rel='stylesheet' type='text/css'>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


<link rel="stylesheet" href="css/form.css">


</head>

<body>

	<div class="user">
		<header class="user__header">

			<h1 class="user__title">Inserisci il nome della città per
				conoscere i prossimi passaggi</h1>
		</header>

		<form action="/ricercaCoordinate" class="form">
			<div class="form__group">
				<input type="text" name="nomecitta" id="nomecitta"
					placeholder="Nome della città" class="form__input" />
			</div>
			<button class="btn" type="submit">Cerca</button>
		</form>
		<h2 class="errore">
			<c:if test="${!empty errore">
				<span th:text="${errore}"></span>

			</c:if>
		</h2>
	</div>








</body>

</html>
